.app__footer-contacts{
	margin-top: 20px;
	margin-bottom: 42px;

	&_contact{
		width: 48px;
		height: 48px;

		border: 1px solid var(--border-color);
		color: var(--white);

		margin: 0 4px;
		padding: 0 14px;
		transition: .3s ease-in;

		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:hover{
			background: var(--orange);
			color: var(--black);
		}

	}
}

.app__footer-info{
	display: flex;
	justify-content: space-between;
	align-items: center;

	&_leftText{
		font-weight: 400;
		font-size: 12px;line-height: 22px;
		color: var(--dark);

		a{
			color: var(--orange);
		}
	}

	&_rightText{
		a{
			font-weight: 400;
			font-size: 11px;
			line-height: 30px;
			color: var(--orange);
			border-right: 1px solid var(--border-color);
			
			padding-right: 4px;
			margin-right: 3px;

			&:nth-child(3){
				border-right: none;
			}
		}

		
	}
}